sentence-transformers>=2.6.1
flask
pypdf
python-dotenv
pinecone[grpc]
langchain
langchain-core
langchain-community
langchain-pinecone
langchain-huggingface
langchain-text-splitters
langchain-deepseek
langdetect
deep-translator
transformers
huggingface-hub
torch
torchvision
torchaudio
-e .